.invalid{
    border-color: #f53d3d
}

 .fieldError{
        margin-bottom:3px;
        color: #f53d3d;
    }

    .form-content{
        position: absolute;
    bottom: 0;
    left: 0;
    }

   .col-sm-5{
       
   }