<div class="col-md-6 col-md-offset-3">
  <h3>Register</h3>
  <div class="inner">
    <form class="login-form row" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input type="text" class="form-control col-sm-6" placeholder="First Name" required [ngModel]="user?.firstName" name="firstName">
      <input type="text" class="form-control col-sm-6" placeholder="Last Name" required [ngModel]="user?.lastName" name="lastName">
      <input type="email" class="form-control" placeholder="E-mail" required [ngModel]="user?.email" name="email">
      <input type="password" class="form-control" placeholder="Password" required ngModel name="password">
      <input type="password" class="form-control" placeholder="Repeat password" required ngModel name="confirmPassword">

      <input type="hidden" [ngModel]="fbat" name="fbat">

      <div class="form-footer">
        <div class="rememberme"></div>
        <div class="form-submit">
          <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">Sign up</button>
        </div>
      </div>
    </form>
    <!-- .login-form -->
  </div>
  <!-- .inner -->

  <a class="social-signup-btn ssb-facebook" (click)="onFacebookLoginClick()">
    <i class="socicon-facebook"></i>
    <span>Register with Facebook</span>
  </a>
</div>