<div class="item">
  <a routerLink="/shop/sku/{{wishlistProduct?.product.sku}}" class="item-thumb">
    <img src="{{wishlistProduct?.product.largeImage}}" alt="Item">
  </a>
  <div class="item-details">
    <a routerLink="/shop/sku/{{wishlistProduct?.product.sku}}">
      <h4 class="item-title"><a>{{wishlistProduct?.product.name}}</a></h4>
    </a>
    <label class=" item-price">{{wishlistProduct?.product.salePrice}}</label>
    <label class=" item-price" *ngIf="wishlistProduct?.product.regularPrice!=wishlistProduct?.product.salePrice">{{wishlistProduct?.product.regularPrice}}</label>
  </div>
  <a class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" (click)="onDelete(wishlistProduct)">
    <i class="material-icons delete"></i>
  </a>
</div>