<div class="item">
  <a (click)="viewProduct()" class="item-thumb">
    <img src="{{wishlistProduct?.product.image}}" alt="Item">
  </a>
  <div class="item-details">
    <a (click)="viewProduct()">
      <h4 class="item-title"><a>{{wishlistProduct?.product.name}}</a></h4>
    </a>
    <span class="shop-item-price">
                <span class="old-price"  *ngIf="wishlistProduct?.product.regularPrice!=wishlistProduct?.product.salePrice">{{wishlistProduct?.product.regularPrice| currency:'USD':true:'1.2-2'}}</span>    {{wishlistProduct?.product.salePrice| currency:'USD':true:'1.2-2'}}
    </span>
    <a class="add-to-cart" (click)="addToCart(wishlistProduct?.product, wishlistProduct?.user)">
      <em>{{addToCartButton}} <span *ngIf="wishlistProduct?.user">for {{wishlistProduct?.user.firstName}}</span></em>
    </a>
    <!-- .add-to-cart -->

  </div>
  <a class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" (click)="onDelete(wishlistProduct)">
    <i class="material-icons delete"></i>
  </a>
</div>