<div class="item">
  <a routerLink="/shop/product/{{wishlistProduct?.product.productId}}" class="item-thumb">
    <img src="{{wishlistProduct?.product.largeImage}}" alt="Item">
  </a>
  <div class="item-details">
    <a routerLink="/shop/id/{{wishlistProduct?.product.productId}}">
      <h4 class="item-title"><a>{{wishlistProduct?.product.name}}</a></h4>
    </a>
    <label class=" item-price">{{wishlistProduct?.product.salePrice}}</label>
    <label class=" item-price" *ngIf="wishlistProduct?.product.regularPrice!=wishlistProduct?.product.salePrice">{{wishlistProduct?.product.regularPrice}}</label>
    <a class="add-to-cart" (click)="addToCart(wishlistProduct?.product, wishlistProduct?.user)">
      <em>{{addToCartButton}} for {{wishlistProduct?.user.firstName}}</em>
      <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
        <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"
          stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"></path>
      </svg>
    </a>
    <!-- .add-to-cart -->

  </div>
  <a class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" (click)="onDelete(wishlistProduct)">
    <i class="material-icons delete"></i>
  </a>
</div>