

@font-face {
    font-family: "google-font";
    src: url('./fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "google-light-font";
    src: url('./fonts/Montserrat-Light.ttf');
}


a:hover {
    cursor: pointer;
}
* {
    font-family: google-light-font;
}
body {
    background: rgba(230,230,230,.3);
}



/*
    basic colors
    primary #8ed400
    primary-frined $04af40
*/
/* Buttons and coloring  */

.app-btn-primary {
    border: none;
    border-style: none;
    color: white;
    padding: .2em .7em;
    background: linear-gradient(180deg, #8ed400, #04af40);
}