<div class="row">
    <form id="editAddressForm" class="form-horizontal" role="form" [formGroup]="complexForm" (ngSubmit)="submitForm()">
        <fieldset>
            <legend>Add Amazon Product to Wishlist</legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="textinput">Amazon Link</label>
                <div class="col-sm-4">
                    <input type="text" placeholder="Amazon Link" class="form-control" formControlName="url" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" id="cancelButton"
                            (click)="onCancel()">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!complexForm.valid">Add to Wishlist</button>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
</div>