<div class="col-lg-2 col-md-3 col-sm-4"></div>

<div class="col-lg-10 col-md-9 col-sm-8">

  <!-- Shop Bar -->
  <div class="shop-bar">
    <div class="column">
      <p class="text-sm space-bottom-none">
        <span class="text-gray">Showing</span> 1-16 items
      </p>
    </div>

    <!-- .column -->
  </div>
  <!-- .shop-bar -->

  <div class="row">
    <oorsi-web-product-item *ngFor="let product of products; let i = index" [product]="product" [index]="i"></oorsi-web-product-item>
  </div>
</div>