.float-right{
    float: right;
}

.profile-picture-thumbnail{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.profile-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-wrapper .pic-container {
  margin-right: 15px;
}
.wl-product-wrapper {
  margin-left: 40px;
}
