<section class="fw-section bg-gray">

  <!-- Page Navigation -->
  <a class="page-nav page-prev">
    <span class="page-preview">
          <img src="img/pager/01.jpg" alt="Page">
        </span> — Prev
  </a>
  <a class="page-nav page-next">
    <span class="page-preview">
          <img src="img/pager/02.jpg" alt="Page">
        </span> Next —
  </a>
  <div class="container padding-top">

    <!-- Product Gallery -->
    <div class="product-gallery">
      <!-- Preview -->
      <ul class="product-gallery-preview">
        <li id="preview03" class="current"><img class="productImage" src="{{product?.image}}" alt="Product"></li>
      </ul>
      <!-- .product-gallery-preview -->

      <!-- .product-gallery-thumblist -->
    </div>
    <!-- .product-gallery -->
  </div>
  <!-- .container -->
</section>
<section class="fw-section bg-gray padding-bottom-3x">
  <div class="container">
    <div class="product-info padding-top-2x text-center">
      <h5 class="h5 space-bottom-half"> {{product?.name}}</h5>
      <h6>{{product?.salePrice| currency:'USD':'1.2-2'}}</h6>
      <s *ngIf="product?.salePrice != product?.regularPrice">{{product?.regularPrice| currency:'USD':'1.2-2'}}</s>
      <p class="text-sm text-gray" [innerHTML]="product?.shortDescription">{{product?.shortDescription}}</p>
      <div class="product-meta">
        <div class="product-sku">
          <strong>SKU: </strong>
          <span>146950023</span>
        </div>
        <!--<div class="product-category">
          <strong>Category: </strong>
          <a >Furniture</a>
        </div>-->
        <span class="product-rating text-warning">
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star"></i>
              <i class="material-icons star_border"></i>
            </span>
      </div>
      <!-- .product-meta -->
      <div class="product-tools shop-item">
        <div class="count-input">
          <a class="incr-btn" data-action="decrease">–</a>
          <input class="quantity" type="text" value="1">
          <a class="incr-btn" data-action="increase">+</a>
        </div>
        <!-- .count-input -->
        <!--<div class="form-element">
          <select class="form-control form-control-sm color-select">
                <option value="blue" data-image="preview02">Blue</option>
                <option value="creme" data-image="preview01">Creme</option>
                <option value="red" data-image="preview03">Red</option>
              </select>
        </div>-->
        <!-- .form-element -->
        <a class="add-to-cart" (click)="addToCart()">
          <em>{{addToCartButton}}</em>
        </a>

        <a class="add-to-cart" (click)="addToCartForUser()" *ngIf="forUser">
          <em>{{addToCartButtonForUser}} for {{forUser.firstName}} {{forUser.lastName}}</em>
        </a>
        <!-- .add-to-cart -->

        <a (click)="addToWishlist()">
          <i class="material-icons favorite_border"></i>
        </a>
      </div>

      <!-- .product-share -->
    </div>
    <!-- .product-info -->
  </div>
  <!-- .container -->
</section>
<section class="container padding-top-2x">
  <!-- Nav Tabs -->
  <ul class="nav-tabs text-center" role="tablist">
    <li class="active"><a role="tab" data-toggle="tab">Description</a></li>
  </ul>
  <!-- .nav-tabs -->
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane transition fade in active" id="description">
      <div class="row space-top">
        <div class="col-md-8 col-md-offset-2">
          <p [innerHTML]="product?.longDescription">{{product?.longDescription}}</p>
        </div>
      </div>
    </div>
    <!-- .tab-pane -->

  </div>
  <!-- .tab-content -->
</section>
<section class="container padding-top padding-bottom" *ngIf="product?.frequentlyPurchasedWith && product?.frequentlyPurchasedWith.length!=0">
  <hr>
  <h3 class="padding-top">Frequently Purchsed With</h3>
  <div class="row padding-top">
    <oorsi-web-product-item *ngFor="let p of product?.frequentlyPurchasedWith; let i = index" [product]="p" [index]="i"></oorsi-web-product-item>
  </div>
  <!-- .row -->
</section>

<section class="container padding-top padding-bottom" *ngIf="product?.relatedProducts && product?.relatedProducts?.length!=0">
  <hr>
  <h3 class="padding-top">Related Products</h3>
  <div class="row padding-top">
    <oorsi-web-product-item *ngFor="let p of product?.relatedProducts; let i = index" [product]="p" [index]="i"></oorsi-web-product-item>
  </div>
  <!-- .row -->
</section>