<div class="item row">
  <div class="col-sm-4 col-xs-2">
    <a class="item-thumb">
      <img alt="Item" class="img-thumbnail rounded-circle" src="{{user?.profilePictureName | oorsiImgURL}}">
    </a>
  </div>
  <div class="item-details col-sm-4 col-xs-6">
    <a routerLink="/profile/{{user.userID}}">
      <h6 class="item-title"><a>{{user.firstName}} {{user.lastName}}</a></h6>
    </a>

  </div>
  <!--<a class="item-remove" data-toggle="tooltip" data-placement="top" title="" data-original-title="Remove" (click)="onDelete(wishlistProduct)">
    <i class="material-icons delete"></i>
  </a>-->
  <div class="col-xs-4 follow-button-div">
    <button type="submit" class="btn follow-button" (click)="onFollow(user)" [class.btn-primary]="!user.followed" [class.btn-success]="user.followed">{{followButtonText}}</button>
  </div>
</div>
