<div class="row">
  <form id="editAddressForm" class="form-horizontal" role="form" #form=ngForm (ngSubmit)="submit(form.value)">
    <fieldset>

      <!-- Form Name -->
      <legend>Address Details</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Card Number</label>
        <div class="col-sm-10">
          <input type="text" placeholder="Card Number" class="form-control" name="cardNumber" required ngModel />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">Expiration (MM/YY)</label>
        <div class="col-sm-5">
          <input type="text" placeholder="MM" class="form-control" name="expMonth" required ngModel />
        </div>
        <div class="col-sm-5">
          <input type="text" placeholder="YY" class="form-control" name="expYear" required ngModel />
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="textinput">CVV</label>
        <div class="col-sm-10">
          <input type="text" placeholder="cvc" class="form-control" name="cvc" required ngModel />
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <div class="pull-right">
            <button type="button" class="btn btn-default" id="cancelButton" (click)="onCancel()">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>