<header class="navbar navbar-sticky">

  <!-- Site Logo -->
  <a routerLink="/" class="site-logo visible-desktop">
    <span><img src="/assets/logo.png" class="img img-responsive"> </span>
  </a>
  <!-- site-logo.visible-desktop -->
  <a routerLink="/" class="site-logo visible-mobile">
    <span><img src="/assets/logo.png" class="img img-responsive"></span>
  </a>
  <!-- site-logo.visible-mobile -->


  <!-- Main Navigation -->
  <!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
  <nav class="main-navigation text-center">
    <ul class="menu">
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/news">News Feed</a>
      </li>
      <li routerLinkActive="current-menu-item">
        <a routerLink="/shop">Shop</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/friends">Friends</a>
      </li>

      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/register">Register</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/account"><i class="material-icons person"></i></a>
        <ul class="sub-menu">
          <li routerLinkActive="current-menu-item"><a routerLink="/profile">Profile</a></li>
          <li routerLinkActive="current-menu-item"><a routerLink="/orders">Orders</a></li>
          <li>
            <a routerLink="/logout">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- .menu -->
  </nav>
  <!-- .main-navigation -->

  <!-- Toolbar -->
  <div class="toolbar">
    <div class="inner">
      <a routerLink="/wishlist"><i class="material-icons favorite_border"></i></a>
      <div class="cart-btn">
        <a routerLink="/cart">
          <i>
                <span class="material-icons shopping_basket"></span>
                                <span class="count">{{cartSize}}</span>
              </i>
        </a>
      </div>
      <!-- .cart-btn -->
    </div>
    <!-- .inner -->
  </div>
  <!-- .toolbar -->
</header>
<!-- .navbar.navbar-sticky -->