<!-- Site Logo -->
<div class="navbar-default-bg"></div>
<div class="navbar navbar-default">
  <div>
    <label for="mobile-collapser">
      <a routerLink="/">
        <span><img src="/assets/header-logo.svg" class="header-icon"> </span>
      </a>
    </label>
  </div>
  
  <ul class="navbar-horizontal hidden-xs">
    <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/news">News Feed</a>
      </li>
      <li routerLinkActive="current-menu-item">
        <a routerLink="/shop">Shop</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/friends">Friends</a>
      </li>

      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/login">Log In</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/register">Sign Up</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn" class="dropdown">
        <a><label routerLink="/account" for="dropdowner-1"><i class="fa fa-angle-down"></i></label></a>
        <input type="checkbox" class="dropdowner" id="dropdowner-1"/>
        <ul class="dropdown-list">
          <li routerLinkActive="current-menu-item"><a routerLink="/profile">Profile</a></li>
          <li routerLinkActive="current-menu-item"><a routerLink="/orders">Orders</a></li>
          <li>
            <a routerLink="/logout">Logout</a>
          </li>
        </ul>
      </li>
  </ul>
  <ul class="navbar-horizontal">
    <li>
      <a routerLink="/wishlist"><i class="fa fa-lg fa-heart"></i></a>
    </li>
    <li class="cart-btn">
      <a routerLink="/cart">
        <i>
          <span class="fa fa-lg fa-shopping-cart"></span>
          <span class="count" *ngIf="cartSize">{{cartSize}}</span>
        </i>
      </a>
    </li>
    <li class="visible-xs-inline">
      <a (click)='toggleSidebar()'>
        <span class="fa fa-lg fa-navicon"></span>        
      </a>
    </li>
  </ul>
</div>
<div class="sidebar-backfill" [class.hidden]='!sidebaropen' (click)='closeSidebar()'></div>
<div [class.sidebaropen]="sidebaropen"
    class="sidebar sidebarclosed sidebar-default visible-xs-block">
  <div *ngIf="loggedIn">
    <div class="user-mini-bg"></div>
    <div class="user-mini">
      <div class="pic-icon">
        <img src="/assets/img/person-icon-grey-no-tie-md.png" alt="">
      </div>
      <div class="name-tag">
        Zemichael Tesfaye
      </div>
    </div>
  </div>
  <ul>
    <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/news" (click)='closeSidebar()'>News Feed</a>
      </li>
      <li routerLinkActive="current-menu-item">
        <a routerLink="/shop" (click)='closeSidebar()'>Shop</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/friends" (click)='closeSidebar()'>Friends</a>
      </li>

      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/login" (click)='closeSidebar()'>Log In</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/register" (click)='closeSidebar()'>Sign Up</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/profile" (click)='closeSidebar()'>Profile</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/orders" (click)='closeSidebar()'>Orders</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/logout" (click)='closeSidebar()'>Logout</a>
      </li>
  </ul>
</div>