<header class="navbar navbar-sticky">

  <!-- Site Logo -->
  <a routerLink="/" class="site-logo visible-desktop">
    <span><img src="/assets/logo.png" class="img img-responsive"></span>
  </a>
  <!-- site-logo.visible-desktop -->
  <a routerLink="/" class="site-logo visible-mobile">
    <span><img src="/assets/logo.png" class="img img-responsive"></span>
  </a>
  <!-- site-logo.visible-mobile -->


  <!-- Main Navigation -->
  <!-- Control the position of navigation via modifier classes: "text-left, text-center, text-right" -->
  <nav class="main-navigation text-center">
    <ul class="menu">
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/news">News Feed</a>
      </li>
      <li routerLinkActive="current-menu-item">
        <a routerLink="/shop">Shop</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/friends">Friends</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="loggedIn">
        <a routerLink="/logout">Logout</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/login">Login</a>
      </li>
      <li routerLinkActive="current-menu-item" *ngIf="!loggedIn">
        <a routerLink="/register">Register</a>
      </li>
    </ul>
    <!-- .menu -->
  </nav>
  <!-- .main-navigation -->

  <!-- Toolbar -->
  <div class="toolbar">
    <div class="inner">
      <a routerLink="/wishlist"><i class="material-icons favorite_border"></i></a>
      <a><i class="material-icons person"></i></a>
      <div class="cart-btn">
        <a href="shopping-cart.html">
          <i>
                <span class="material-icons shopping_basket"></span>
                <span class="count">2</span>
              </i>
        </a>
        <!-- Cart Dropdown -->
        <div class="cart-dropdown">
          <div class="cart-item">
            <a href="shop-single.html" class="item-thumb">
              <img src="img/cart/item01.jpg" alt="Item">
            </a>
            <div class="item-details">
              <h3 class="item-title"><a href="shop-single.html">Concrete Lamp</a></h3>
              <h4 class="item-price">1 x $85.90</h4>
            </div>
            <a class="close-btn">
              <i class="material-icons close"></i>
            </a>
          </div>
          <!-- .cart-item -->
          <div class="cart-item">
            <a href="shop-single.html" class="item-thumb">
              <img src="img/cart/item02.jpg" alt="Item">
            </a>
            <div class="item-details">
              <h3 class="item-title"><a href="shop-single.html">Storage Box</a></h3>
              <h4 class="item-price">2 x $38.00</h4>
            </div>
            <a class="close-btn">
              <i class="material-icons close"></i>
            </a>
          </div>
          <!-- .cart-item -->
          <div class="cart-subtotal">
            <div class="column">
              <span>Subtotal:</span>
            </div>
            <div class="column">
              <span class="amount">$161.90</span>
            </div>
          </div>
        </div>
        <!-- .cart-dropdown -->
      </div>
      <!-- .cart-btn -->
    </div>
    <!-- .inner -->
  </div>
  <!-- .toolbar -->
</header>
<!-- .navbar.navbar-sticky -->