<!-- Shop Bar -->
<div class="shop-bar space-top-half">
    <!-- .column -->
    <div class="column row">
        <div class=" col-sm-offset-2 col-sm-6">
            <form class="search-box" (ngSubmit)="onSearch()">
                <input type="text" class="form-control" placeholder="Search OOrsi Friends" [(ngModel)]="searchString" name="s">
                <button type="submit">
                  <i class="material-icons search"></i>
                </button>
            </form>
        </div>
        <!-- form.search-box -->
        <div class="col-sm-4">
            <a class="social-signup-btn ssb-facebook" (click)="onFacebookFriendSearch()">
                <i class="socicon-facebook"></i>
                <span>Search Facebook Friends</span>
            </a>
        </div>
    </div>
    <!-- .column -->
</div>
<!-- .shop-bar -->

<div class="row padding-top">
    <router-outlet></router-outlet>
</div>